<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="practice Suite">
  <test thread-count="5" name="description">
    <classes>
      <class name="practice.Testasmainmethod4"/>      
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="annotation">
    <classes>   
      <class name="practice.Annotationtest"/>  
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="priority">
    <classes>     
      <class name="practice.Testasmainmethod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
